// Base Typography Stylesheet
// This is where your base typography will go
// ========================================

h1 {
  font-family: $primary-font;
  font-size: 1.5rem;
}

h2 {
  font-family: $secondary-font;
  font-size: 1.25rem;
}

h3, .subtitle {
  font-family: $secondary-font;
  font-size: 1.15rem;
}

h4 {
  font-family: $secondary-font;
  font-size: 1.1rem;
}

h5 {
  font-family: $secondary-font;
  font-size: 1.05rem;
}

h6 {
  font-family: $secondary-font;
  font-size: 1rem;
}

p {
  font-family: $secondary-font;
  font-size: 0.75rem;
}

a {
  font-family: $secondary-font;
  &:hover {
    color: $blue;
  }
}
